gitignore
# https://dart.dev/guides/libraries/private-files
# Created by https://www.toptal.com/developers/gitignore/api/flutter,androidstudio,visualstudiocode

### Android Studio ###
# IntelliJ project files
.idea/*.xml
.idea/*.iml
.idea/modules.xml
.idea/navigation.xml
.idea/libraries/
.idea/vcs.xml
.idea/workspace.xml
*.iml
*.ipr
*.iws

### Flutter ###
# Check out https://flutter.dev/to/ignore-for-git for more information
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.metadata
generated/

### Android ###
android/local.properties
android/key.properties
android/.gradle/
android/app/build/
android/captures/
android/gradle/
android/gradlew
android/gradlew.bat
# Seguridad Firebase Android
android/app/google-services.json

### iOS ###
ios/.DS_Store
ios/.ipynb_checkpoints/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/App.podspec
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Pods/
ios/.symlinks/
ios/Config/
# Seguridad Firebase iOS
ios/Runner/GoogleService-Info.plist

### Firebase / Secretos ###
# Muy importante: Ignorar las opciones generadas que contienen IDs de tu proyecto
lib/firebase_options.dart

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Windows ###
desktop/
windows/